### Exercises

#### Exercise 1

Given the following string:

In [1]:
s = 'FfEeDdCcBbAa'

Create two new variables that contain just the lower and upper case letters of `s` respectively, in the correct alphabetical order, i.e:

- `'ABCDEF'`
- `'abcdef'`

In [4]:
lowercase_string = s[::-2]
uppercase_string = s[-2::-2]

print(lowercase_string)
print(uppercase_string)

abcdef
ABCDEF

#### Exercise 2

Concatenate the following tuples into a single one, but replacing the odd values with zeros (`0`).

In [5]:
t1 = 1, 2, 3, 4, 5, 6
t2 = 7, 8, 9, 10
t3 = 11, 12, 13, 14, 15, 16, 17

You can assume that every tuple is a sequence of consecutive integers starting with an odd integer.

Try to write your code to be as generic as possible.

In [24]:
l = list(t1 + t2 + t3)
l[::2] = [0] * len(l[::2]) 
t = tuple(l)
t

(0, 2, 0, 4, 0, 6, 0, 8, 0, 10, 0, 12, 0, 14, 0, 16, 0)

#### Exercise 3

Given the following matrix:

In [26]:
m = [
    [0, 0, 0],
    [0, 0, 0],
    [0, 0, 0]
]

Make this matrix into an identity matrix (setting the diagonal elements to `1`).

Your code should *mutate* `m`.

In [28]:
copied_m = m.copy()
copied_m[0][0] = 1
copied_m[0][2] = 1
copied_m[1][1] = 1
copied_m[2][0] = 1
copied_m[2][2] = 1
m

[[1, 0, 1], [0, 1, 0], [1, 0, 1]]

#### Exercise 4

Do the same problem as Exercise 3, but do **not** mutate `m`.

In [31]:
from copy import deepcopy

m = [
    [0, 0, 0],
    [0, 0, 0],
    [0, 0, 0]
]

deepcopy_of_m = deepcopy(m)
deepcopy_of_m[0][0] = 1
deepcopy_of_m[0][2] = 1
deepcopy_of_m[1][1] = 1
deepcopy_of_m[2][0] = 1
deepcopy_of_m[2][2] = 1

deepcopy_of_m, m

([[1, 0, 1], [0, 1, 0], [1, 0, 1]], [[0, 0, 0], [0, 0, 0], [0, 0, 0]])

#### Exercise 5

You are given a list of tuples that each contain 4 values:

```
(amount, currency, target_currency, exchange_rate)
```

In [33]:
data = [
    (100, 'USD', 'EUR', 0.83),
    (100, 'USD', 'CAD', 1.27),
    (100, 'CAD', 'EUR', 0.65)
]

Write code that converts the `amount` from its `currency` to its `target_currency` using the `exchange_rate` (which is the exchange rate for `1` `currency` in `target_currency`).

Try to make your code as generic as possible (we'll see later how to use loops so we don't have to write three separate statements).

In other words, you'll need three blocks of code here that are essentially almost identical.

Use unpacking to assign the values in each tuple to variables.

Your result for each row should print something like this out:

```
100 USD = 83 EUR
```

In [37]:
amount, currency, target_currency, exchange_rate = data[0]
print(f'{amount} {currency} = {int(amount * exchange_rate)} {target_currency}')

amount, currency, target_currency, exchange_rate = data[1]
print(f'{amount} {currency} = {int(amount * exchange_rate)} {target_currency}')

amount, currency, target_currency, exchange_rate = data[2]
print(f'{amount} {currency} = {int(amount * exchange_rate)} {target_currency}')

100 USD = 83 EUR
100 USD = 127 CAD
100 CAD = 65 EUR